.container{
    padding-left: 70px;
}
#nav{
    padding-left: 400px;
    background-color: #FCD581;
}
#gamebox{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
#box1{
    margin: auto;
    margin-top: 100px
    
}
img{
    max-width: 50px;
    max-height: 30px;
}
body{
    background-color: #FFF8E8;
}
h1{
    color: white;
    -webkit-text-stroke: 1px black;
    outline-color: black;
}